# Dependencies
node_modules/
.pnpm-store/

# Production build
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment & local files
.env
.env.local
.DS_Store
Thumbs.db
